:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #000000;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  /* min-height: 100vh; */
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.snake-map {
  position: absolute;
  top: 24.5%;
  left: 0px;
  width: 640px;
  height: 480px;
  z-index: -100;
}

.game {
  width: 600px; 
  height: 480px;
  z-index: 100;
  position: relative;
}

/* Font Style for Pixelated Text */
.pixel-text {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem; /* You can adjust the size as needed */
}

/* Individual Letter Colors for PAC-MAN */
.pacman-p { color: #ffcc00; } /* Yellow */
.pacman-a { color: #ff5733; } /* Red */
.pacman-c { color: #33b5ff; } /* Blue */
.pacman-dash { color: #33cc33; } /* Green */
.pacman-m { color: #800080; } /* Purple */
.pacman-a2 { color: #ff1493; } /* Pink */
.pacman-n { color: #ff6600; } /* Orange */

/* Navbar Container */
.navbar {
  width: 705px;
  padding: 16px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Heart Icons Container */
.heart-container {
  display: flex;
  gap: 8px;
}

.heart-icon {
  color: #ff0000;
  font-size: 30px;
}

/* Score Container */
.score-container {
  font-size: 1.25rem;
  margin-top: 8px;
}